.game-page {
    min-height: 1080px;
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background: linear-gradient(-45deg, #fdfb7d, #fd9999, #e3a6ff, #96fff1, #7b9eff);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}
.game {
    margin-top: 10%;
}
.game-content {
    width: 600px;
    margin: 0 auto;
    padding: 10px 0;
    position: relative;
    text-align: center;
    text-shadow: 0 1px 0 #fff;
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: soft-light;
    background-position: center;
    animation: form-show 0.2s;
    border-radius: 1%;
    /* background: radial-gradient(circle, #0077ea, #1f4f96, #1b2949, #000); */
}

.game-content h1 {
    position: relative;
    color: #7e7e7e;
    font: bold 26px 'Neucha', cursive;
    line-height: 20px;
    margin: 10px 0 30px;
}

.game-content h2 {
    position: relative;
    color: #ce7592;
    font: bold 20px 'Neucha', cursive;
    line-height: 50px;
    margin: 30px 0;
}

.groups {
    display: inline-flex;
    width: 100%;
}

.level {
    color: white;
    width: 100%;
    height: 40px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 20px;
    margin-bottom: 30px;
}

.level:nth-child(1) {
    background-color: red;
}

.level:nth-child(2) {
    background-color: orange;
}

.level:nth-child(3) {
    background-color: yellowgreen;
}

.level:nth-child(4) {
    background-color: green;
}
.level:nth-child(5) {
    background-color: blue;
}
.level:nth-child(6) {
    background-color: purple;
}

.btn-start {
    background-color: palegreen;
    font: bold 18px 'Neucha', cursive;
    width: 200px;
    height: 50px;
    padding: 5px;
    color: #5b1616;
    cursor: pointer;
    border-radius: 20px;
    margin: 40px auto 30px;
}

.game-container {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.audio-game {
    width: 900px;
}
.material-icon {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 30px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    cursor: pointer;
}

.answers {
    display: flex;
    align-items: center;
    flex-grow: 1;
    gap: 5px;
    padding: 30px 10px;
}

.answer {
    outline: none;
    border: none;
    width: 175px;
    height: 60px;
    padding: 5px;
    background-color: #752b974f;
    color: white;
    cursor: pointer;
    border-radius: 40px;
    text-transform: capitalize;
}

.answer:hover {
    background-color: yellow;
    color: #000;
}

.answer.correct {
    background-color: #13c113;
}
.answer.incorrect {
    background-color: #ff6767;
}
.answer:disabled {
    background-color: #7e7e7e29;
    cursor: auto;
}

.btn-next {
    background-color: rgb(0 0 0 / 20%);
    width: 260px;
    font: bold 20px 'Neucha', cursive;
    height: 60px;
    padding: 5px;
    color: #ffffff;
    cursor: pointer;
    border-radius: 20px;
    margin: 0px auto 30px;
    outline: none;
    border: none;
}

.btn-end {
    width: 200px;
    height: 35px;
    padding: 5px;
    color: white;
    cursor: pointer;
    border-radius: 20px;
    margin: 50px auto 30px;
    background-color: #ee6e73;
    outline: none;
    border: none;
}

.audio-question {
    height: 260px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
}

.right-image {
    width: 270px;
    height: auto;
    margin: 20px;
    border-radius: 50%;
}

.right-answer {
    font-family: 'Roboto';
    font-size: 35px;
    letter-spacing: 2px;
    text-transform: capitalize;
    color: #7b9eff;
}
.result {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    align-items: center;
    background-color: #fff;
    padding: 10px;
    background: linear-gradient(-45deg, #7b9eff, #96fff1, #e3a6ff, #d5ff73, #fd9999, #fdfb7d);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    border-radius: 1%;
    z-index: -1000;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}
.result.visible {
    z-index: 1000;
    opacity: 1;
}
.result-title {
    color: #645fad;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
.result-info {
    width: 100%;
    display: flex;
}
.btn-result {
    margin-top: auto;
}
td {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: capitalize;
}
.group-text,
.words-count {
    font-size: 25px;
    color: #7b9eff;
    margin: 20px auto;
}

@media screen and (min-width: 180px) and (max-width: 900px) {
    .game-content {
         width: 500px;
    }
    .groups {
        width: 40%;
    }
}