.info_wrapper {
    display: flex;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(-45deg, #fdfb7d, #fd9999, #d5ff73, #e3a6ff, #96fff1, #7b9eff);
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
}
.info-image1 {
    width: 100%;
    height: 350px;
    background-image: url('../../../../public/assets/img/book.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.info-image2 {
    width: 100%;
    height: 350px;
    background-image: url('../../../../public/assets/img/games.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.info-image3 {
    width: 100%;
    height: 350px;
    background-image: url('../../../../public/assets/img/stats.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.arrow-back {
    width: 100%;
    height: 50px;
    cursor: pointer;
    background-image: url('../../../../public/assets/img/Arrow_Left.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.info-description {
    max-width: 900px;
    text-align: center;
}
