.games-page {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}
.cards {
    display: flex;
    gap: 20px;
    width: 1000px;
    margin: 10px auto;
}

.btn-book {
    padding: 20px;
    background-color: skyblue;
    border-radius: 50%;
    width: 130px;
    margin: 20px auto;
    cursor: pointer;
}

@media (max-width: 1000px) {
    .cards {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }
}

.card {
    background: linear-gradient(-45deg, #fdfb7d, #fd9999, #d5ff73, #e3a6ff, #96fff1, #7b9eff);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.level:hover {
    -webkit-animation: ripple-white 1s linear infinite;
    animation: ripple-white 1s linear infinite;
    line-height: 40px;
}

.answer:hover {
    background-color: darkorange;
}

@-webkit-keyframes ripple-white {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(62, 130, 193, 0.1), 0 0 0 5px rgba(230, 227, 64, 0.1),
            0 0 0 10px rgba(236, 106, 193, 0.1);
        box-shadow: 0 0 0 0 rgba(62, 130, 193, 0.1), 0 0 0 5px rgba(230, 227, 64, 0.1),
            0 0 0 10px rgba(236, 106, 193, 0.1);
    }
    100% {
        -webkit-box-shadow: 0 0 0 10px rgba(62, 130, 193, 0.1), 0 0 0 15px rgba(230, 227, 64, 0.1),
            0 0 0 20px rgba(236, 106, 193, 0.1);
        box-shadow: 0 0 0 10px rgba(62, 130, 193, 0.1), 0 0 0 15px rgba(230, 227, 64, 0.1),
            0 0 0 20px rgba(236, 106, 193, 0.1);
    }
}

@keyframes ripple-white {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(62, 130, 193, 0.1), 0 0 0 5px rgba(230, 227, 64, 0.1),
            0 0 0 10px rgba(236, 106, 193, 0.1);
        box-shadow: 0 0 0 0 rgba(62, 130, 193, 0.1), 0 0 0 5px rgba(230, 227, 64, 0.1),
            0 0 0 10px rgba(236, 106, 193, 0.1);
    }
    100% {
        -webkit-box-shadow: 0 0 0 10px rgba(62, 130, 193, 0.1), 0 0 0 15px rgba(230, 227, 64, 0.1),
            0 0 0 20px rgba(236, 106, 193, 0.1);
        box-shadow: 0 0 0 10px rgba(62, 130, 193, 0.1), 0 0 0 15px rgba(230, 227, 64, 0.1),
            0 0 0 20px rgba(236, 106, 193, 0.1);
    }
}

.open-game {
    line-height: 44px;
    -webkit-perspective: 1000px;
    -moz-perspective: 1000px;
    perspective: 1000px;
    color: white;
}

.open-game span {
    position: relative;
    display: inline-block;
    padding: 0 14px;
    background: #de2121;
    -webkit-transition: -webkit-transform 0.3s;
    -moz-transition: -moz-transform 0.3s;
    transition: transform 0.3s;
    -webkit-transform-origin: 50% 0;
    -moz-transform-origin: 50% 0;
    transform-origin: 50% 0;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
}
.open-game span::before {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0 14px;
    background: #4fdf62;
    content: attr(data-hover);
    -webkit-transition: background 0.3s;
    -moz-transition: background 0.3s;
    transition: background 0.3s;
    -webkit-transform: rotateX(-90deg);
    -moz-transform: rotateX(-90deg);
    transform: rotateX(-90deg);
    -webkit-transform-origin: 50% 0;
    -moz-transform-origin: 50% 0;
    transform-origin: 50% 0;
}

.open-game:hover span,
.open-game:focus span {
    -webkit-transform: rotateX(90deg) translateY(-22px);
    -moz-transform: rotateX(90deg) translateY(-22px);
    transform: rotateX(90deg) translateY(-22px);
    background: #de2121;
}

.card-title {
    font-family: 'Roboto', sans-serif;
    color: #557c2b;
    font-size: 24px;
    margin: 0;
    text-shadow: 4px 4px 3px rgb(34 149 0 / 37%);
}

.card-reveal {
    background: linear-gradient(-45deg, #fdfb7d, #fd9999, #e3a6ff, #96fff1, #7b9eff);
}
