.cards {
  display: flex;
  gap: 20px;
  width: 1000px;
  margin: 0 auto;
}

.btn-book {
  padding: 20px;
  background-color: skyblue;
  border-radius: 50%;
  width: 130px;
  margin: 20px auto;
  cursor: pointer;
}

@media (max-width: 1000px) {
  .cards {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
  
}