.page-message {
    background: linear-gradient(-45deg, #fdfb7d, #fd9999, #e3a6ff, #96fff1, #7b9eff);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    text-align: center;
    height: 1080px;
}

.text-explored {
    font-family: 'Paytone One';
    color: #202020;
    text-transform: uppercase;
    padding: 200px 0;
}

.text-explored .letter {
    display: block;
    margin: 11px 0 17px 0;
    font-size: 80px;
    line-height: 80px;
    color: #ffffff;
    text-shadow: 0 13.36px 8.896px #eee;
    letter-spacing: -4px;
}

.return-book {
    line-height: 44px;
    -webkit-perspective: 1000px;
    -moz-perspective: 1000px;
    perspective: 1000px;
    color: white;
}

.return-book span {
    position: relative;
    display: inline-block;
    padding: 0 14px;
    background: #21d5de80;
    -webkit-transition: -webkit-transform 0.3s;
    -moz-transition: -moz-transform 0.3s;
    transition: transform 0.3s;
    -webkit-transform-origin: 50% 0;
    -moz-transform-origin: 50% 0;
    transform-origin: 50% 0;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
}
.return-book span::before {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0 14px;
    background: #ee78548a;
    content: attr(data-hover);
    -webkit-transition: background 0.3s;
    -moz-transition: background 0.3s;
    transition: background 0.3s;
    -webkit-transform: rotateX(-90deg);
    -moz-transform: rotateX(-90deg);
    transform: rotateX(-90deg);
    -webkit-transform-origin: 50% 0;
    -moz-transform-origin: 50% 0;
    transform-origin: 50% 0;
}

.return-book:hover span,
.return-book:focus span {
    -webkit-transform: rotateX(90deg) translateY(-22px);
    -moz-transform: rotateX(90deg) translateY(-22px);
    transform: rotateX(90deg) translateY(-22px);
    background: #21d5de80;
}
