/* Rows
--------------------------------------------------------------------------------------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Charm:wght@700&family=Noto+Serif+Display:ital,wght@0,400;1,700&family=Roboto&display=swap');
.row1 {
    border-top: 2px solid;
}

.row5 {
    border-top: 1px solid;
}
.wrapper {
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: left;
    word-wrap: break-word;
}
h2 {
    font-family: 'Noto Serif Display', serif;
    font-size: 50px;
}
/* Header
--------------------------------------------------------------------------------------------------------------- */
#header {
    align-items: baseline;
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%), 0 1px 5px 0 rgb(0 0 0 / 20%);
}
.clear {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 978px;
}
#header #logo {
    margin: 8px 0 0 0;
}
#header #logo h1 {
    margin: 0;
    padding: 0;
    text-transform: none;
    font-size: 40px;
    font-family: 'Charm', cursive;
    text-shadow: 4px 4px 3px rgb(34 149 0 / 37%);
}
.header_greeting p {
    font-family: 'Roboto', sans-serif;
    color: #557c2b;
    font-size: 24px;
    margin: 0;
    text-shadow: 4px 4px 3px rgb(34 149 0 / 37%);
}
.fl_right {
    display: flex;
    width: auto;
    color: #000;
    background-color: inherit;
}
.burger-menu {
    display: none;
}

/* Intro
--------------------------------------------------------------------------------------------------------------- */
#intro {
    padding: 0 0 80px 0;
    display: flex;
    justify-content: space-between;
}
.overlay h2 {
    text-align: center;
    margin: 30px 0;
    background: #ffffff40;
    color: #ececec;
}
.bgded {
    background-image: url('../../../public/assets/img/background.jpg');
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}
#intro article {
    text-align: center;
    opacity: 0.8;
}
#intro article:hover {
    opacity: 1;
}
#intro article * {
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#intro article .heading {
    padding: 30px 25px;
    font-size: 18px;
}
#intro article ul {
    padding: 20px 15px;
    font-style: italic;
}
#intro article ul li {
    padding: 12px 0;
}
#intro article .link a {
    padding: 20px 0;
    text-transform: uppercase;
    font-weight: bold;
}
.one_third {
    width: 31.28834355828221%;
}
/* Content Area
--------------------------------------------------------------------------------------------------------------- */
.container {
    padding: 80px 0;
}

/* Content */
.home_group {
    display: flex;
    max-width: 978px;
    width: 100%;
    justify-content: space-between;
}
/* Featured Post */
#featuredpost {
    display: inline-block;
    position: relative;
    max-width: 474px;
    width: 100%;
    height: 371px;
    overflow: hidden;
    text-align: center;
    background-image: url('../../../public/assets/img/row3.jpg');
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
}

#featuredpost figcaption {
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 20px 15px;
    box-sizing: border-box;
}
#featuredpost figcaption * {
    margin: 0 0 10px 0;
}
#featuredpost figcaption :last-child {
    margin: 0;
}
.one_half {
    max-width: 474px;
    width: 100%;
}
.row3_1 {
    max-width: 107px;
    width: 100%;
    background-image: url('../../../public/assets/img/avatars/Tolik.jpg');
    background-repeat: no-repeat;
    background-position: center top 27%;
    background-size: cover;
    height: 107px;
    margin: 0 30px;
}
.row3_2 {
    max-width: 107px;
    width: 100%;
    background-image: url('../../../public/assets/img/avatars/marina.jpg');
    background-repeat: no-repeat;
    background-position: center top 27%;
    background-size: cover;
    height: 107px;
    margin: 0 30px;
}
.row3_3 {
    max-width: 107px;
    width: 100%;
    background-image: url('../../../public/assets/img/avatars/IMG_20200409_121420.jpg');
    background-repeat: no-repeat;
    background-position: center top 27%;
    background-size: cover;
    height: 107px;
    margin: 0 30px;
}

#latestposts li {
    margin: 0 0 25px 0;
    padding: 0 0 25px 0;
    border-bottom: 1px solid;
}
#latestposts li:last-child {
    margin: 0;
    padding: 0;
    border: none;
}

#latestposts li article * {
    margin: 0;
}
#latestposts li article :last-child {
    margin: 0;
}
#latestposts li article .heading {
    font-size: 18px;
}
#latestposts li article .meta {
    margin: -3px 0 5px 0;
}
#latestposts li article .meta * {
    display: inline;
    margin-left: 10px;
    font-size: 0.8rem;
    line-height: normal;
}
#latestposts li article .meta :first-child {
    margin-left: 0;
}
#latestposts li article .shortintro {
    margin-bottom: 15px;
}

/* Comments */
#comments ul {
    margin: 0 0 40px 0;
    padding: 0;
    list-style: none;
}
#comments li {
    margin: 0 0 10px 0;
    padding: 15px;
}
#comments .avatar {
    float: right;
    margin: 0 0 10px 10px;
    padding: 3px;
    border: 1px solid;
}
#comments address {
    font-weight: bold;
}
#comments time {
    font-size: smaller;
}
#comments .comcont {
    display: block;
    margin: 0;
    padding: 0;
}
#comments .comcont p {
    margin: 10px 5px 10px 0;
    padding: 0;
}

#comments form {
    display: block;
    width: 100%;
}
#comments input,
#comments textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid;
}
#comments textarea {
    overflow: auto;
}
#comments div {
    margin-bottom: 15px;
}
#comments input[type='submit'],
#comments input[type='reset'] {
    display: inline-block;
    width: auto;
    min-width: 150px;
    margin: 0;
    padding: 8px 5px;
    cursor: pointer;
}

/* Sidebar */

.sidebar .sdb_holder {
    margin-bottom: 50px;
}
.sidebar .sdb_holder:last-child {
    margin-bottom: 0;
}

/* CTA - Call to Action
--------------------------------------------------------------------------------------------------------------- */
#cta {
    padding: 50px 0;
    display: flex;
    flex-direction: column;
}

#cta article {
    box-sizing: border-box;
}
#cta article .heading,
#cta article p {
    margin: 0;
}
#cta article .heading {
    margin-bottom: 20px;
    padding: 20px 10px 0 0;
    font-size: 18px;
}

/* Footer
--------------------------------------------------------------------------------------------------------------- */
#footer {
    padding: 50px 0;
}

#footer .title {
    margin: 0 0 30px 0;
    padding: 0 0 8px 0;
    border-bottom: 1px solid;
    font-size: 16px;
    text-transform: uppercase;
}

#footer .linklist li {
    margin-bottom: 15px;
}
#footer .linklist li:last-child {
    margin-bottom: 0;
}

#footer .smallfont {
    font-size: 0.8rem;
    margin: 0;
}

#footer input,
#footer button {
    border: none;
}
#footer input {
    display: block;
    width: 100%;
    padding: 8px;
}
#footer button {
    padding: 6px 12px 8px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
}
.rss {
    display: block;
    position: relative;
    font-family: 'Open Sans', sans-serif;
    width: 111px;
    height: 32px;
    background-image: url('../../../public/assets/img/rss.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left center;
}
.rss-year {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 21px;
    letter-spacing: -2px;
    color: #fff;
    line-height: 0.9;
    font-weight: bold;
    transition: 0.3s;
}
.githab a {
    padding: 0 25px;
    background-image: url('../../../public/assets/img/git.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.githab a:hover {
    color: gold;
}
/* Copyright
--------------------------------------------------------------------------------------------------------------- */
#copyright {
    padding: 20px 0;
    align-items: center;
}
#copyright p {
    margin: 0;
    padding: 0;
}

/* Transition Fade
--------------------------------------------------------------------------------------------------------------- */
.faico a,
#mainav ul,
#mainav a,
.btn,
#intro article {
    transition: all 0.4s ease-in-out;
}

/* ------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------ */

/* Navigation
--------------------------------------------------------------------------------------------------------------- */
nav ul,
nav ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

#mainav .drop::after,
#mainav li li .drop::after,
#breadcrumb li a::after,
.sidebar nav a::after {
    position: absolute;
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
    line-height: 10px;
}

/* Top Navigation */

#mainav ul {
    text-transform: uppercase;
}
#mainav ul ul {
    z-index: 9999;
    position: absolute;
    text-transform: none;
}
#mainav ul ul ul {
    left: 160px;
    top: 0;
}
#mainav li {
    display: inline-block;
    position: relative;
    margin: 0;
    padding: 0;
}
#mainav li:last-child {
    margin-right: 0;
}
#mainav li li {
    width: 100%;
    margin: 0;
}
#mainav li a {
    display: block;
    padding: 0 10px;
    font-family: 'Roboto', sans-serif;
}
#mainav li li a {
    border: solid;
    border-width: 0 0 1px 0;
}
#mainav li li a {
    display: block;
    margin: 0;
}

#mainav li li .drop {
    display: block;
    margin: 0;
    padding: 10px 15px;
}
#mainav .drop::after,
#mainav li li .drop::after {
    content: '\f0d7';
}
#mainav .drop::after {
    top: 25px;
    left: 8px;
}
#mainav li li .drop::after {
    top: 15px;
    left: 5px;
}
#mainav ul ul {
    visibility: hidden;
    opacity: 0;
}
#mainav ul li:hover > ul {
    visibility: visible;
    opacity: 1;
}

#mainav form {
    display: none;
    margin: 0;
    padding: 0;
}
#mainav form select,
#mainav form select option {
    display: block;
    cursor: pointer;
    outline: none;
}
#mainav form select {
    width: 100%;
    padding: 5px;
    border: 1px solid;
}
#mainav form select option {
    margin: 5px;
    padding: 0;
    border: none;
}

/* Breadcrumb */
#breadcrumb {
    padding: 50px 0;
}
#breadcrumb ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
#breadcrumb li {
    display: inline-block;
    margin: 0 6px 0 0;
    padding: 0;
}
#breadcrumb li a {
    display: block;
    position: relative;
    margin: 0;
    padding: 0 12px 0 0;
    font-size: 12px;
}
#breadcrumb li a::after {
    top: 5px;
    right: 0;
    content: '\f101';
}
#breadcrumb li:last-child a {
    margin: 0;
    padding: 0;
}
#breadcrumb li:last-child a::after {
    display: none;
}

/* Sidebar Navigation */
.sidebar nav {
    display: block;
    width: 100%;
}
.sidebar nav li {
    margin: 0 0 3px 0;
    padding: 0;
}
.sidebar nav a {
    display: block;
    position: relative;
    margin: 0;
    padding: 5px 10px 5px 15px;
    text-decoration: none;
    border: solid;
    border-width: 0 0 1px 0;
}
.sidebar nav a::after {
    top: 9px;
    left: 5px;
    content: '\f101';
}
.sidebar nav ul ul a {
    padding-left: 35px;
}
.sidebar nav ul ul a::after {
    left: 25px;
}
.sidebar nav ul ul ul a {
    padding-left: 55px;
}
.sidebar nav ul ul ul a::after {
    left: 45px;
}

/* Tables
--------------------------------------------------------------------------------------------------------------- */
table,
th,
td {
    border: 1px solid;
    border-collapse: collapse;
    vertical-align: top;
    box-sizing: border-box;
}
table,
th {
    table-layout: auto;
}
table {
    width: 100%;
    margin-bottom: 15px;
}
th,
td {
    padding: 5px 8px;
}
td {
    border-width: 0 1px;
}

/* Gallery
--------------------------------------------------------------------------------------------------------------- */
#gallery {
    display: block;
    width: 100%;
    margin-bottom: 50px;
}
#gallery figure figcaption {
    display: block;
    width: 100%;
    clear: both;
}
#gallery li {
    margin-bottom: 30px;
}

/* Font Awesome Social Icons
--------------------------------------------------------------------------------------------------------------- */
.faico {
    margin: 0;
    padding: 0;
    list-style: none;
}
.faico li {
    display: inline-block;
    margin: 0;
    padding: 0;
    line-height: normal;
}
.faico li:last-child {
    margin-right: 0;
}

.faico a {
    display: block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-size: 16px;
    text-align: center;
}
.faico a {
    color: #ffffff;
    background-color: #111111;
}

.faicon-dribble:hover {
    background-color: #ea4c89;
}
.faicon-facebook:hover {
    background-color: #3b5998;
}
.faicon-google-plus:hover {
    background-color: #db4a39;
}
.faicon-linkedin:hover {
    background-color: #0e76a8;
}
.faicon-pinterest:hover {
    background-color: #c8232c;
}
.faicon-rss:hover {
    background-color: #ee802f;
}
.faicon-twitter:hover {
    background-color: #00acee;
}

/* ------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------ */

/* Colours
--------------------------------------------------------------------------------------------------------------- */

a {
    color: #8aba56;
}
.overlay {
    background-color: rgba(0, 0, 0, 0.6);
}
.btn {
    border-color: #8aba56;
}
.btn:hover {
    color: #ffffff;
    background-color: #8aba56;
}

/* Rows */
.row0,
.row0 a {
    color: #888888;
    background-color: #232323;
}
.row1 {
    color: #292929;
    background-color: #ffffff;
    border-color: #8aba56;
}
.row2 {
    color: #ffffff;
    background-color: #232323;
}
.row3 {
    color: #292929;
    background-color: #ffffff;
}
.row4,
.row4 a {
    color: #292929;
    background-color: #f3f3f3;
}
.row5 {
    color: #888888;
    background-color: #232323;
    border-color: #8aba56;
}
.row6,
.row6 a {
    color: #888888;
    background-color: #111111;
}

/* Top Bar */
.nospace.linklist li {
    border-color: #888888;
}

/* Header */
#header #logo h1 a {
    color: inherit;
}

/* Intro */
#intro article .heading {
    color: #292929;
    background-color: #f3f3f3;
}
#intro article ul {
    color: #888888;
    background-color: #ffffff;
}
#intro article .link a {
    color: #ffffff;
    background-color: #8aba56;
}

/* Content Area */
#featuredpost figcaption {
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.5);
}
#latestposts li {
    border-color: #d7d7d7;
    display: flex;
    justify-content: flex-start;
}

/* CTA */
.colour-1 a,
.colour-2 a {
    border-color: #f3f3f3;
}
.colour-1,
.colour-1 a {
    color: #ffffff;
    background-color: #f0ad4e;
}
.colour-1 a.btn:hover {
    background-color: #d08011;
    border-color: #ac690f;
}
.colour-2,
.colour-2 a {
    color: #ffffff;
    background-color: #6fd2e5;
}
.colour-2 a.btn:hover {
    background-color: #187687;
    border-color: #11525e;
}

/* Footer */
#footer .title {
    border-color: #111111;
}
#footer input {
    background-color: #111111;
}
#footer button {
    color: #ffffff;
    background-color: #8aba56;
    text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.5);
}

#footer .faico a {
    color: inherit;
}
#footer .faico a:hover {
    color: #ffffff;
}

/* Navigation */
#mainav li a {
    color: inherit;
}
#mainav a.active,
#mainav a:hover,
#mainav li:hover > a {
    color: #ffffff;
    background-color: #8aba56;
}
#mainav li li a,
#mainav .active li a {
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.6);
    border-color: rgba(0, 0, 0, 0.6);
}
#mainav li li:hover > a,
#mainav .active .active > a {
    color: #ffffff;
    background-color: #8aba56;
}
#mainav form select {
    border-color: #d7d7d7;
}

#breadcrumb a {
    color: #888888;
    background-color: inherit;
}
#breadcrumb li:last-child a {
    color: #8aba56;
}

.container .sidebar nav a {
    color: inherit;
    border-color: #d7d7d7;
}
.container .sidebar nav a:hover {
    color: #8aba56;
}

/* Tables + Comments */
table,
th,
td,
#comments .avatar,
#comments input,
#comments textarea {
    border-color: #d7d7d7;
}
th {
    color: #ffffff;
    background-color: #373737;
}
tr,
#comments li,
#comments input[type='submit'],
#comments input[type='reset'] {
    color: inherit;
    background-color: #fbfbfb;
}
tr:nth-child(even),
#comments li:nth-child(even) {
    color: inherit;
    background-color: #f7f7f7;
}
table a,
#comments a {
    background-color: inherit;
}

/* ------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------ */

/* Media Queries
--------------------------------------------------------------------------------------------------------------- */
@-ms-viewport {
    width: device-width;
}

/* Smartphone + Tablet
--------------------------------------------------------------------------------------------------------------- */
@media screen and (min-width: 180px) and (max-width: 500px) {
    #featuredpost figcaption .shortintro {
        display: none;
    }
    #intro {
        padding: 80px 0 50px;
    }
    #breadcrumb {
        padding: 20px 0;
    }
    #latestposts li figure {
        float: none;
        margin: 0 0 20px 0;
    }
    .container {
        padding: 50px 0;
    }
    #cta {
        padding: 50px 0 20px;
    }
}

@media screen and (min-width: 180px) and (max-width: 750px) {
    .imgl,
    .imgr {
        display: inline-block;
        float: none;
        margin: 0 0 10px 0;
    }
    .fl_left,
    .fl_right {
        display: block;
        float: none;
    }
    .one_half,
    .one_third,
    .two_third,
    .one_quarter,
    .two_quarter,
    .three_quarter {
        display: block;
        float: none;
        width: auto;
        margin: 0 0 30px 0;
        padding: 0;
    }
}

@media screen and (min-width: 180px) and (max-width: 900px) {
    #topbar,
    #header,
    #intro,
    #breadcrumb,
    .container,
    #cta,
    #footer,
    #copyright {
        max-width: 95%;
    }
    #intro {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .one_third {
        width: 50%;
    }
    .home_group {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .one_quarter {
        width: 100%;
    }
    .githab {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #topbar {
        text-align: center;
    }
    #topbar ul {
        margin-bottom: 10px;
    }
    #topbar > div:nth-of-type(2) ul {
        margin: 0;
    }

    #header {
        text-align: center;
    }
    #header #logo {
        margin: 0 0 10px 0;
    }
    #mainav {
        display: none;
    }
    #mainav form {
        display: block;
    }

    #comments input[type='reset'] {
        margin-top: 10px;
    }

    #cta article {
        display: block;
        padding: 30px 20px;
        text-align: center;
    }
    #cta article * {
        margin: 0;
    }
    #cta article img {
        margin-bottom: 20px;
    }
    #cta article .heading {
        padding: 0;
    }

    #copyright p:first-of-type {
        margin-bottom: 10px;
    }
}

/* Must be after 180 => 900 - do not include in previous statements with the same parameters */
@media screen and (min-width: 180px) and (max-width: 750px) {
    #latestposts li figure,
    #latestposts li article {
        margin: 0;
    }
    #latestposts li figure {
        float: left;
        margin-right: 20px;
    }
}
/* Must be after 180 => 900 - do not include in previous statements with the same parameters */
@media screen and (min-width: 180px) and (max-width: 500px) {
    #latestposts li figure {
        float: none;
        margin: 0 0 20px 0;
    }
}

/* Max Wrapper Width - Laptop, Desktop etc.
--------------------------------------------------------------------------------------------------------------- */
@media screen and (min-width: 978px) {
    #topbar,
    #header,
    #intro,
    #breadcrumb,
    .container,
    #cta,
    #footer,
    #copyright {
        max-width: 978px;
    }
}

/* Other
--------------------------------------------------------------------------------------------------------------- */
@media screen and (max-width: 650px) {
    .scrollable {
        display: block;
        width: 100%;
        margin: 0 0 30px 0;
        padding: 0 0 15px 0;
        overflow: auto;
        overflow-x: scroll;
    }
    .scrollable table {
        margin: 0;
        padding: 0;
        white-space: nowrap;
    }
}
/* burger-menu
--------------------------------------------------------------------------------------------------------------- */
@media screen and (min-width: 180px) and (max-width: 900px) {
    .burger-menu {
        z-index: 50;
        display: block;
        position: relative;
        width: 30px;
        height: 18px;
        cursor: pointer;
    }
    .burger-menu::before,
    .burger-menu::after,
    .burger-menu span {
        left: 0;
        position: absolute;
        height: 10%;
        width: 100%;
        transition: all 0.3s ease 0s;
        background-color: #000000;
    }
    .burger-menu::before,
    .burger-menu::after {
        content: '';
    }
    .burger-menu::before {
        top: 0;
    }
    .burger-menu::after {
        bottom: 0;
    }
    .burger-menu span {
        top: 50%;
        transform: scale(1) translate(0px, -50%);
    }
    .burger-menu.active span {
        transform: scale(0) translate(0px, -50%);
    }
    .burger-menu.active::before {
        top: 50%;
        transform: rotate(-45deg) translate(0px, -50%);
    }
    .burger-menu.active::after {
        bottom: 50%;
        transform: rotate(45deg) translate(0px, 50%);
    }
}
