.statistics_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    align-items: center;
    background: linear-gradient(-45deg, #fdfb7d, #fd9999, #d5ff73, #e3a6ff, #96fff1, #7b9eff);
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
}
.stat-day {
    display: flex;
    justify-content: space-between;
}
.stat-words,
.stat-games {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.stat-words_result,
.stat-games_result {
    display: flex;
    width: 350px;
    height: 222px;
    background-color: inherit;
    flex-direction: column;
    padding: 10px;
    margin: 10px;
    border: 2px solid #8aba56;
}
.stat-games_count,
.stat-words_count {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
}
.stat-games_count p,
.stat-words_count p {
    max-width: 60%;
}
@media screen and (min-width: 180px) and (max-width: 1100px) {
    .stat-day {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
