.question-container {
    padding: 10px 0 30px;
}

.timer {
    margin: 0 auto;
    justify-content: center;
    display: flex;
    font: bold 40px 'Neucha', cursive;
}

.question {
    position: relative;
    color: #143889;
    font: bold 40px 'Neucha', cursive;
    line-height: 20px;
    margin: 30px 0;
}

.this {
    color: darkcyan;
    position: relative;
    font: bold 20px 'Neucha', cursive;
    margin: 10px 0 30px;
}

.btns {
    display: flex;
    justify-content: center;
    gap: 40px;
}
.btn-start {
    border: none;
    outline: none;
}
.btn-start:disabled {
    background-color: #c4c4c4;
    cursor: auto;
}

.score {
    color: rgb(248, 132, 0);
    position: relative;
    font: bold 20px 'Neucha', cursive;
    margin: 10px 0 30px;
}

.score-right {
    padding-left: 5px;
    color: tomato;
}

.show {
    width: 200px;
    height: 35px;
    padding: 5px;
    background-color: rgb(7 3 94 / 60%);
    color: white;
    cursor: pointer;
    opacity: 0;
    border-radius: 20px;
}

.btn-exit {
    width: 200px;
    height: 35px;
    padding: 5px;
    color: white;
    cursor: pointer;
    border-radius: 20px;
    margin: 70px auto 30px;
    background-color: #ee6e73;
    outline: none;
    border: none;
}
.result {
    z-index: 1000;
}
