.game-page {
    min-height: 1080px;
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background: linear-gradient(-45deg, #fdfb7d, #fd9999, #e3a6ff, #96fff1, #7b9eff);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}
.question-container {
    padding: 10px 0 30px;
    display: flex;
    justify-content: center;
}

.timer {
    margin: 0 auto;
    justify-content: center;
    display: flex;
    color: #58b2ff;
    font: bold 40px 'Neucha', cursive;
}

.question {
    position: relative;
    color: #7b9eff;
    font: bold 55px 'Neucha', cursive;
    line-height: 50px;
    margin: 30px 0;
}

.this {
    color: #58b2ff;
    position: relative;
    font: bold 20px 'Neucha', cursive;
    margin: 45px 40px;
}

.btns {
    display: flex;
    justify-content: center;
    gap: 10px;
}
.btn-start {
    border: none;
    outline: none;
}
.btn-start:disabled {
    background-color: rgb(0 0 0 / 14%);
    cursor: auto;
}

.score {
    color: #6c65d7;
    position: relative;
    font: bold 30px 'Neucha', cursive;
    margin: 10px 0 30px;
}

.score-right {
    padding-left: 5px;
    color: #fa117d;
}

.show {
    width: 200px;
    height: 35px;
    padding: 5px;
    background-color: rgb(255 255 255 / 60%);
    color: white;
    cursor: pointer;
    opacity: 0;
    border-radius: 20px;
}
.show:hover {
    background-color: yellow;
    color: #000;
}

.btn-exit {
    width: 200px;
    height: 35px;
    padding: 5px;
    color: white;
    cursor: pointer;
    border-radius: 20px;
    margin: 70px auto 30px;
    background-color: #ee6e73;
    outline: none;
    border: none;
}

.result-title {
    color: #645fad;
}

.sign {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sign__word {
    font-family: 'Vibur', cursive;
    font-size: 5.6rem;
    text-align: center;
    line-height: 1;
    color: #3286dc;
    animation: neon 0.08s ease-in-out infinite alternate;
}
.answer-sprint {
    outline: none;
    border: none;
    width: 150px;
    height: 40px;
    padding: 10px;
    background-color: #752b974f;
    color: white;
    cursor: pointer;
    border-radius: 40px;
    text-transform: capitalize;
}
.answer-sprint:hover {
    background-color: yellow;
    color: #000;
}

.answer-sprint.correct {
    background-color: #13c113;
}
.answer-sprint.incorrect {
    background-color: #ff6767;
}
.answer-sprint:disabled {
    background-color: #7e7e7e29;
    cursor: auto;
}

@keyframes neon {
    from {
        text-shadow: 0 0 6px rgba(202, 228, 225, 0.92), 0 0 30px rgba(202, 228, 225, 0.34),
            0 0 12px rgba(30, 132, 242, 0.52), 0 0 21px rgba(30, 132, 242, 0.92), 0 0 34px rgba(30, 132, 242, 0.78),
            0 0 54px rgba(30, 132, 242, 0.92);
    }
    to {
        text-shadow: 0 0 6px rgba(202, 228, 225, 0.98), 0 0 30px rgba(202, 228, 225, 0.42),
            0 0 12px rgba(30, 132, 242, 0.58), 0 0 22px rgba(30, 132, 242, 0.84), 0 0 38px rgba(30, 132, 242, 0.88),
            0 0 60px rgba(30, 132, 242, 1);
    }
}

@media screen and (min-width: 180px) and (max-width: 900px) {
    .game-content {
         width: 500px;
    }
    .groups {
        width: 40%;
    }
}
