.error-message {
    display: block;
    width: 100%;
    font-size: 12px;
    color: #f44336;
    text-align: left;
    margin-left: 3rem;
}

.input-field .prefix.active {
    color: orange;
}

.wrapper-form {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1050;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(0, 0, 0, 0.7);
    background-image: url('../../../public/assets/img/background-auth.jpg');
    background-position: center;
    background-size: cover;
    background-blend-mode: multiply;
    background-repeat: no-repeat;
}

form:after {
    content: '.';
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.content {
    background: #f9f9f9;
    box-shadow: 0 1px 0 #fff inset;
    margin: 0 auto;
    padding: 25px 0 0;
    position: relative;
    text-align: center;
    text-shadow: 0 1px 0 #fff;
    width: 400px;
    background-image: url('../../../public/assets/img/learn-english-online.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: soft-light;
    background-position: center;
    animation: form-show 0.2s;
}

@keyframes form-show {
    0% {
        width: 0;
    }

    100% {
        width: 400px;
    }
}

.content h1 {
    position: relative;
    color: #7e7e7e;
    font: bold 25px 'Neucha', cursive;
    line-height: 20px;
    margin: 10px 0 30px;
}
.content h1:before,
.content h1:after {
    content: '';
    height: 1px;
    position: absolute;
    top: 10px;
    width: 27%;
}
.content h1:after {
    background: rgb(126, 126, 126);

    right: 0;
}
.content h1:before {
    background: rgb(126, 126, 126);
    left: 0;
}
.content:after,
.content:before {
    background: #f9f9f9;
    content: '';
    display: block;
    height: 100%;
    left: -1px;
    position: absolute;
    width: 100%;
}
.content:after {
    transform: rotate(2deg);
    top: 0;
    z-index: -1;
}
.content:before {
    transform: rotate(-3deg);
    top: 0;
    z-index: -2;
}

.control {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.fade-enter {
    opacity: 0;
    transform: scale(1.1);
}

.fade-enter-active {
    opacity: 1;
    transform: scale(1);
    transition: opacity 300ms, transform 300ms;
}

.fade-exit {
    opacity: 1;
    transform: scale(1);
}

.fade-exit-active {
    opacity: 0;
    transform: scale(0.9);
    transition: opacity 300ms, transform 300ms;
}

.pagination {
    cursor: pointer;
    user-select: none;
}
